@import "@/theme/index.scss";

.list {
  background: $white;
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 20px;

  &__listGreen {
    box-shadow: 0px -2px 128px rgba(5, 142, 110, 0.14);
  }

  &__listOrang {
    box-shadow: 0px 4px 357px rgba(255, 146, 47, 0.15),
      0px 0.500862px 44.7019px rgba(255, 146, 47, 0.075);
  }

  &__listSmall {
    width: 325px;

    @include screen-lp {
      width: 500px;
    }
  }

  &__listMedium {
    width: 325px;

    @include screen-lp {
      width: 500px;
    }
    @include screen-md {
      width: 600px;
    }
  }
}
.listIcon {
  width: 50px;
  height: auto;
}
.list-container {
  display: flex;
  height: auto;
  padding-top: 20px;
  padding-left: 20px;
}

.list-title {
  color: $black-light;
  @include font-size(600, 12px, 20px);
  padding-bottom: 7px;
  padding-left: 30px;
  width: 90%;

  @include screen-lp {
    @include font-size(600, 16px, 27px);
  }
}

.list-text {
  color: #8d8d8d;
  @include font-size(400, 10px, 20px);
  padding-left: 30px;
  width: 90%;
  padding-bottom: 18px;

  @include screen-lp {
    @include font-size(400, 14px, 23px);
  }
}
.read-more-less--more,
.read-more-less--less {
  color: $green-light;
}
