@import "@/theme/index.scss";
.cardMain {
  min-height: 575px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 575px;
  @include screen-tb {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.card,
.cardMainInfo {
  min-height: 575px;
  margin: 33px 2% 0% 0%;
  background: $white;
  box-shadow: 0px -7px 89px rgba(0, 0, 0, 0.17),
    0px -2.55512px 32.4865px rgba(0, 0, 0, 0.117297),
    0px -1.24046px 15.7716px rgba(0, 0, 0, 0.0945694),
    0px -0.608097px 7.73152px rgba(0, 0, 0, 0.0754306),
    0px -0.240442px 3.05705px rgba(0, 0, 0, 0.0527031);
  border-radius: 10px;
  @include screen-tb {
    min-height: 575px;
    height: 100%;
  }
  @include screen-lp {
    height: 100%;
    min-height: 575px;
  }
}
.card {
  min-height: 575px;
  width: 100%;
  @include screen-tb {
    width: 47%;
  }
  @include screen-lp {
    width: 37%;
  }
}
.cardButton {
  padding-right: 7%;
  padding-top: 10px;
  padding-bottom: 35px;
}
.cardMainInfo {
  min-height: 575px;
  width: 100%;
  @include screen-tb {
    width: 53%;
    @include screen-lp {
      width: 63%;
    }
  }
  &__button {
    padding-bottom: 20px;
    margin-left: 5%;
  }
}
