@import '@/theme/index.scss';

.user-online {
  width: 112px;
  height: 58x;

  background: $white;
  border-radius: 21px;
  position: relative;
  padding-bottom: 6px;
  @include position-center(flex, column, center, center);

  @include screen-lp {
    width: 238px;
    height: 122px;
  }

  &__title {
    @include font-size(600, 8px, 12px);
    color: black;
    padding-bottom: 5px;
    padding-top: 6px;

    @include screen-lp {
      @include font-size(600, 16px, 24px);
      padding-bottom: 12px;
    }
  }

  &__icon {
    position: absolute;
    width: 21px;
    height: 21px;
    top: -19px;
    left: -15px;

    @include screen-lp {
      width: 52px;
      height: 52px;
    }
  }
}

.userButton {
  cursor: pointer;
  background: $green-light;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  margin-left: -5px;

  @include screen-lp {
    width: 49.27px;
    height: 49.27px;
    margin-left: -20px;
  }
}

.user {
  width: 23px;
  height: 23px;
  display: inline-block;
  margin-left: -5px;

  @include screen-lp {
    width: 49.27px;
    height: 49.27px;
    margin-left: -20px;
  }

}

// .user__animation {
//   transform: translate(-90%);
//   transition-property: transform;
//   transition-duration: 9s;
//   transition-timing-function: linear;
// }