@import "@/theme/index.scss";

.button {
  cursor: pointer;
  border-radius: 8px;
  @include position-center(flex, column, center, center);

  &__green {
    background: $green;
  }

  &__orange {
    background: $orang;
  }

  &__white-orange {
    background: #e5e5e5;
    border: 3px solid $orang-strong;
  }

  &__white-green {
    background: #e5e5e5;
    border: 3px solid $green-light;
  }

  &__text {
    color: $white;
    @include font-size(600, 12px, 18px);

    @include screen-lp {
      @include font-size(600, 16px, 24px);
    }
  }

  &__size_xs {
    width: 102px;
    height: 44px;
  }

  &__size_s {
    width: 153px;
    height: 47px;

    @include screen-lp {
      width: 199px;
      height: 61px;
    }
  }

  &__size_m {
    width: 240px;
    height: 62px;

    @include screen-lp {
      width: 290px;
    }
  }
  &__size_search {
    height: 44px;
    width: 246px;
  }
}
