@import '../../theme/index.scss';

.button {
  cursor: pointer;
  border-radius: 8px;
  @include position-center(flex, column, center, center);
  color: $white;

  &__green {
    background: $green;
  }


  &__orange {
    background: $orang;
  }

  &__text {
    color: $white;
    @include font-size(600, 16px, 24px);
  }

  &__size_xs {
    width: 102px;
    height: 44px;
  }

  &__size_m {
    width: 290px;
    height: 62px;
  }
}