@import '../../theme/index.scss';

.list {
  width: 500px;
  background: $white;
  box-shadow: 0px -2px 128px rgba(5, 142, 110, 0.14);
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.list-container {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}

.list-title {
  color: $black-light;
  @include font-size (600, 16px, 27px);
  padding-bottom: 7px;
  padding-left: 30px;
  width: 90%;
}

.list-text {
  color: #8D8D8D;
  @include font-size (400, 14px, 23px);
  padding-left: 30px;
  width: 90%;
  padding-bottom: 18px;
}