@import "@/theme/index.scss";

.infoNavLinks {
  display: flex;
  padding-top: 37px;
  padding-bottom: 20px;
}
.infoNavLink {
  color: #393939;
  @include font-size(600, 14px, 20px);
  margin-right: 30px;
  margin-left: 30px;
  border-bottom: 2px solid $white;
  &:hover {
    color: $orang-strong;
    border-bottom: 2px solid $orang-strong;
  }
}
