@import '../../theme/index.scss';

.imgSquare {
  &__square {
    position: absolute;
    max-width: 270px;
    height: 270px;
    //max-width: 430px;
    width: 100%;
    // height: 430px;
    background: #F0D9CA;
    left: 0;
    bottom: 0;
    border-radius: 49px;
    z-index: 0;
  }

  &__img {
    position: absolute;
    z-index: 3000;
    max-width: 320px;
    //max-width: 570px;
    height: auto;
    left: 0;
    bottom: 0;
  }

  &__content {
    position: relative;
    max-width: 320px;
    //   width: 530px;
    //   height: 530px;
  }
}