@import '../../theme/index.scss';

.willGet {
  &__square {
    position: absolute;
    width: 430px;
    height: 430px;
    background: #F0D9CA;
    left: 0;
    bottom: 0;
    border-radius: 49px;
    z-index: 0;
  }

  &__img {
    position: absolute;
    z-index: 3000;
    width: 570px;
    height: auto;
    left: 0;
    bottom: 0;
  }

  &__content {
    position: relative;
    width: 530px;
    height: 530px;
  }
}