@import '@/theme/index.scss';
.edu {
  padding-top: 66px;
  padding-bottom: 66px;
  display: flex;
  flex-wrap: wrap;

  @include screen-tb {
    padding-top: 66px;
    padding-bottom: 66px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }


  &__info {
    width: 100%;

    @include screen-tb {
      width: 45%;
    }

  }

  &__slider {
    width: 100%;

    @include screen-tb {
      width: 50%;
    }
  }
}