@import '@/theme/index.scss';
.main-title {
  text-align: left;

  &__pre-title {
    color: $orang;
  }

  &__title {
    @include font-size (700, 32px, 51px);

    letter-spacing: 3.5%;
    width: 100%;

    padding-bottom: 15px;

    @include screen-lp {
      @include font-size (700, 48px, 76px);
      width: 100%;
      padding-bottom: 44px;
    }

    span {
      color: $orang;
    }
  }

  &__text {
    color: $grey;
    @include font-size (400, 14px, 28px);
    padding-bottom: 15px;

    @include screen-lp {
      @include font-size (400, 18px, 29px);
      width: 80%;
      padding-bottom: 28px;
    }
  }
}

.main-pre-title {
  display: flex;
  padding-bottom: 37px;
}

.pre-title {
  &__text {
    @include font-size(600, 16px, 24px);
  }

  &__line {
    width: 136px;
    margin-left: 18px;
    margin-bottom: 11px;
    border-bottom: 1px solid $orang-strong;
  }
}