@import "@/theme/index.scss";
.cardName {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.cardName-info {
  &__title {
    @include font-size(600, 20px, 34px);
  }
  &__text {
    @include font-size(400, 14px, 24px);
    color: #979797;
  }
}
.cardName-star {
  &__title {
    @include font-size(400, 14px, 24px);
  }
  &__star {
    padding-top: 8px;
  }
}
