@import "@/theme/index.scss";
.buttonsBadge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonBadge {
  padding-top: 20px;
}
.buttonBadgeBlock {
  display: flex;
}
.badgeIconBlock {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  @include position-center(flex, column, center, center);
  margin-right: 10px;
  &__icon {
    width: 20px;
    height: 20px;
  }
}
