@import '@/theme/index.scss';
.imgSquare {
  &__square {
    position: absolute;
    width: 270px;
    height: 270px;
    background: #F0D9CA;
    left: 0;
    bottom: 0;
    border-radius: 49px;
    z-index: 0;

    @include screen-md {
      width: 430px;
      height: 430px;
    }
  }

  &__img {
    position: absolute;
    z-index: 3000;
    width: 320px;
    height: auto;
    left: 0;
    bottom: 0;

    @include screen-md {
      width: 570px;
    }
  }

  &__content {
    position: relative;
    width: 320px;
  }
}