@import "@/theme/index.scss";
.reviewStarsBox {
  &__title {
    @include font-size(600, 64px, 109px);
    color: $black-light;
    padding-bottom: 10px;
  }
  &__stars {
    padding-bottom: 13px;
  }
  &__numberReview {
    @include font-size(600, 20px, 34px);
    color: $black-light;
  }
}
