@import "@/theme/index.scss";
.purchase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include screen-tb {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__info {
    width: 100%;
    @include position-center(flex, column, center, left);

    @include screen-tb {
      width: 45%;
    }
  }

  &__img {
    padding-top: 66px;
    @include screen-tb {
      width: 45%;
    }
  }
}
.list-block {
  padding-bottom: 20px;
}
