@import '../../theme/index.scss';

.getBox {
  position: relative;

  &__title {
    width: 40%;
    position: absolute;
    left: 10%;
    top: 20%;
  }
}

.user-box {
  margin-left: -15px;
}

.get-span {
  color: $white;
  @include font-size(500, 14px, 32px);
  padding-left: 15px;
}

.getBox-button {
  width: 260px;
  height: 60px;
  background: $white;
  border-radius: 4px;
  @include position-center(flex, column, center, center);
  position: absolute;
  right: 5%;
  top: 45%;
  cursor: pointer;

  &__text {
    color: $orang-strong;
  }
}