@import '../../theme/index.scss';

.getBox {
  position: relative;
  height: 375px;
  background: url('../../img/background.png');

  &__title {
    width: 90%;
    position: absolute;
    top: 64px;
    left: 25px;

    @include screen-tb {
      width: 40%;
      left: 10%;
      top: 20%;
    }

  }
}

.user-box {
  margin-left: -15px;
}

.get-span {
  color: $white;
  @include font-size(500, 14px, 32px);
  padding-left: 15px;
  cursor: pointer;
}

.getBox-button {
  width: 260px;
  height: 60px;
  background: $white;
  border-radius: 4px;
  @include position-center(flex, column, center, center);
  position: absolute;
  bottom: 5%;
  left: 10%;

  cursor: pointer;

  @include screen-tb {
    left: 55%;
    bottom: 40%;
  }

  &__text {
    color: $orang-strong;
  }
}