$black: #0000;
$black-light: #393939;
$grey: #6C6C6C;
$grey-light: #8D8D8D;
$grey-white: #90A3B4;
$grey-white-light: #E2ECF4;
$background: #E5E5E5;
$white: #ffff;
$green: #407F55;
$green-light: #058E6E;
$orang-strong: #FF922F;
$orang: #FB9C46;
$orang-light: #F2BF62;