@import '../../theme/index.scss';

.hero {
  display: flex;
  padding-top: 95px;

  &__img {
    position: relative;
  }
}

.user-online-hero {
  position: absolute;
  bottom: 79px;
  left: -140px;
}

.learn {
  display: flex;
  padding-top: 85px;
  padding-bottom: 122px;

  &__info {
    width: 60%;
    padding-right: 40px;
  }

  &__flet {
    padding-right: 60px;
  }
}

.purchase {
  display: flex;
  justify-content: space-between;

  &__info {
    width: 52%;
    @include position-center (flex, column, center, left);
  }
}

.list-block {
  padding-bottom: 20px;
}

.willGet {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 88px;

  &__list {
    width: 50%;
  }
}