@import '../../theme/index.scss';

.hero {
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;


  @include screen-tb {
    padding-top: 95px;
    flex-wrap: nowrap;
  }


  &__img {
    width: 100%;
    padding-right: 20px;
    padding-top: 66px;
  }
}


.user-online-hero {
  position: absolute;
  top: -50px;
  left: 20px;
}

.learn {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 62px;

  @include screen-tb {
    padding-top: 95px;
    flex-wrap: nowrap;
    padding-bottom: 122px;
  }




  &__info {
    width: 100%;

    @include screen-tb {
      width: 60%;
      padding-right: 40px;
    }

  }

  &__flet {
    @include screen-tb {
      padding-right: 60px;
    }
  }
}

.purchase {
  display: flex;
  flex-wrap: wrap;

  @include screen-tb {
    flex-wrap: nowrap;
    justify-content: space-between;
  }


  &__info {
    width: 100%;
    @include position-center (flex, column, center, left);

    @include screen-tb {
      width: 52%;
    }
  }

  &__img {
    padding-top: 66px;

    @include screen-tb {
      width: 40%;
    }
  }
}

.list-block {
  padding-bottom: 20px;
}

.willGet {
  padding-top: 66px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @include screen-tb {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 88px;
  }

  &__img {
    padding-top: 340px;
    width: 100%;

    @include screen-tb {
      width: 45%;
      margin-bottom: 20px;
    }
  }

  &__list {
    @include screen-tb {
      width: 45%;
    }

  }
}

.works {
  padding-top: 66px;
  display: flex;
  flex-wrap: wrap;

  @include screen-tb {
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 111px;
  }


  &__list {
    width: 100%;

    @include screen-tb {
      width: 45%;
    }
  }

  &__video {
    @include screen-tb {
      width: 45%;
      margin-bottom: 20px;
    }
  }
}

.edu {
  padding-top: 66px;
  padding-bottom: 66px;
  display: flex;
  flex-wrap: wrap;

  @include screen-tb {
    padding-top: 110px;
    padding-bottom: 114px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }


  &__info {
    width: 100%;

    @include screen-tb {
      width: 45%;
    }

  }

  &__slider {
    width: 100%;

    @include screen-tb {
      width: 50%;
    }
  }
}

span {
  color: $orang;
}

.getLessons {
  padding-bottom: 66px;

  @include screen-tb {
    padding-bottom: 126px;
  }

}