@import '../../theme/index.scss';

.header {
  height: 117px;

  &__nav-bar {
    display: none;
    //@include position-sb (flex, space-between, center);
  }


  &__logo {
    @include font-size (700, 18px, 27px);
    color: $black-light;
  }

  &__menu {
    cursor: pointer;
  }
}


.nav-bar {
  &__list {
    @include font-size (600, 16px, 24px);
    color: $black-light;
    margin-left: 50px;
    transition-duration: 0.2s;

    &:hover {
      color: $orang-strong;
      border-bottom: 5px solid $orang-strong;
    }
  }
}


.header-container {
  @include position-sb(flex, space-between, center);
  padding-bottom: 26px;
  padding-top: 57px;
  border-bottom: 2px solid#C4C4C4;
}