@import "../../theme/index.scss";

.header {
  position: relative;
  height: 117px;
  &__nav-bar {
    position: absolute;
    transition: background-color 0.3s ease-in-out;
    transform: translateX(0%);
    right: -40px;
    width: 50%;
    z-index: 5000;
    background: $background;
    @include screen-lp {
      position: static;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      right: 0px;
    }
  }

  &__logo {
    @include font-size(700, 18px, 27px);
    color: $black-light;
  }

  &__menu {
    cursor: pointer;

    @include screen-lp {
      display: none;
    }
  }
}

.nav-bar {
  &__list {
    @include font-size(600, 16px, 24px);
    color: $black-light;
    margin-left: 50px;
    margin: 10px;
    @include screen-lp {
      margin-left: 50px;
    }
  }
  &__button {
    padding-top: 10px;
    margin-left: 0px;
    @include screen-lp {
      padding-top: 0px;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      margin-left: 50px;
    }
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 26px;
  padding-top: 57px;
  border-bottom: 2px solid#C4C4C4;

  @include screen-lp {
    flex-direction: initial;
    justify-content: space-between;
  }
}

.nav-link {
  color: $black-light;
  margin: 0 auto;
  &:hover {
    color: $orang-strong;
    border-bottom: 5px solid $orang-strong;
  }
}
.active {
  color: $orang-strong;
  border-bottom: 5px solid $orang-strong;
}
