@import '../../../../theme/index.scss';

.bg-img {
  position: relative;
  width: 218px;
  height: 300px;
  background-image: linear-gradient(#F1C365, #FF922F);
  border-radius: 204px;

  @include screen-lp {
    width: 450px;
    height: 580px;
  }
}

.mainImg {
  @include screen-lp {
    width: 553px;
    height: 666px;
  }
}

.main-flet {
  width: 70px;

  @include screen-lp {
    width: 98px;
  }
}

.main-img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 218px;
  height: 300px;

  @include screen-lp {
    width: 453px;
    height: 566px;
  }
}

.main-flet {
  &__1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 19.7%;
    bottom: 80.3%;
    left: -9%;

    @include screen-lp {
      width: 110px;
      height: 110px;
    }
  }

  &__2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    bottom: 100%;
    right: 0px;

    @include screen-lp {
      width: 110px;
      height: 110px;
    }
  }

  &__3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 43%;
    right: -30px;
    // right: 7%;
    border-radius: 50%;
    border: 5px solid $white;

    @include screen-lp {
      width: 110px;
      height: 110px;
    }
  }
}