@import "@/theme/index.scss";
.lessonsBlocks {
  padding-top: 66px;
  padding-bottom: 66px;
  &__img {
    margin-bottom: 20px;
    display: flex;
  }
}
.lessonsImg {
  width: 50px;
  height: auto;
}
.lessonsTitle {
  margin-left: 20px;
  text-align: left;
  color: black;
  @include font-size(700, 32px, 51px);
}
