@import "@/theme/index.scss";
.search {
  padding-top: 66px;
  &__button {
    display: flex;
    justify-content: center;
    padding-bottom: 117px;
    padding-top: 20px;
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
    @include screen-tb {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}
.search-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-block,
.selectFilter {
  background: $white;
  border-radius: 10px;
  height: 66px;
  box-shadow: 0px -1.24046px 15.7716px rgba(0, 0, 0, 0.0945694),
    0px -0.608097px 7.73152px rgba(0, 0, 0, 0.0754306),
    0px -0.240442px 3.05705px rgba(0, 0, 0, 0.0527031);
}
.search-input {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-right: 18px;
}
.search-button {
  display: flex;
  &__img {
    display: none;
    @include screen-lp {
      display: block;
      padding-right: 10px;
    }
  }
}
.search-lang {
  margin-left: 10px;
  border: 0px;
  width: 50%;
  @include screen-lg {
    margin-left: 32px;
  }
}
.search-name {
  border: 0px;
  width: 50%;
}
.selectFilter {
  margin-top: 20px;
  max-width: 88%;
  width: 357px;
  height: 66px;
  background: $white;
  @include font-size(400, 16px, 21px);
  color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  @include screen-tb {
    margin-top: 0px;
    margin-left: 10px;
    max-width: 100%;
  }
}
