.header {
  height: 117px;

  &__nav-bar {
    @include position-sb (flex, space-between, center);
  }


  &__logo {
    @include font-size (700, 18px, 27px);
    color: $black-light;
  }


  &__button-s-g {
    width: 102px;
    height: 44px;
    border-radius: 8px;
    background: $green;
    color: $white;
    @include position-center(flex, column, center, center);
  }


  &__button-s-o {
    width: 102px;
    height: 44px;
    border-radius: 8px;
    background: $orang;
    @include position-center(flex, column, center, center);
  }
}

.button-s {
  &__text {
    color: $white;
    background: transparent;
  }
}

.nav-bar {
  &__list {
    @include font-size (600, 16px, 24px);
    color: $black-light;
    margin-left: 50px;
  }
}

.header-container {
  @include position-sb(flex, space-between, center);
  margin-left: 7.6%;
  margin-right: 7.6%;
  padding-bottom: 26px;
  padding-top: 57px;
  border-bottom: 2px solid#C4C4C4;
}