@import "@/theme/index.scss";
.cardMainInfo {
  margin: 66px 2% 33px 10%;
  width: 100%;
  min-height: 575px;
  height: 100%;
  @include screen-tb {
    margin: 66px 2% 0px 0%;
    width: 47%;
  }
  @include screen-lp {
    width: 47%;
  }
}
.cardNav {
  margin-left: 8px;
  margin-right: 8px;
  color: $grey;
  @include font-size(600, 16px, 27px);
  &:hover {
    color: $orang-strong;
    border-bottom: 2px solid $orang-strong;
  }
}
.cardNavActive {
  color: $orang-strong;
  border-bottom: 2px solid $orang-strong;
}
.cardInfoImg {
  width: 95%;
  padding-left: 20px;
  padding-bottom: 24px;
}

.infoButton {
  padding-top: 20px;
}

.profileInfo {
  display: flex;
  flex-wrap: wrap;
  @include screen-lp {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &__info {
    width: 100%;
    @include screen-lp {
      width: 63%;
    }
  }
  &__badge {
    width: 100%;
    @include screen-lp {
      width: 35%;
    }
  }
}
