@import '../../theme/index.scss';

.bg-img {
  position: relative;
  width: 218px;
  // float: right;
  //width: 100%;
  height: 300px;
  //height: 625px;
  background-image: linear-gradient(#F1C365, #FF922F);
  border-radius: 204px;
}

.mainImg {

  // max-width: 553px;
  // width: 80%;
  //height: 400px;
  // //height: 666px;
}

.main-flet {
  width: 70px;
  //width: 98px;
}

.main-img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  //height: 400px;
  width: 218px;
  height: 300px;
}

.main-flet {
  &__1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 19.7%;
    bottom: 80.3%;
    left: -9%;
    //left: 10%;
  }

  &__2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    bottom: 100%;
    right: 0px;
    //right: 20%;
  }

  &__3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 43%;
    right: -30px;
    // right: 7%;
    border-radius: 50%;
    border: 5px solid $white;
  }
}