@import "@/theme/index.scss";

.numberLessons {
  padding-top: 22px;
  display: flex;
  width: 100%;
  &__icon {
    width: 19px;
    height: 19px;
  }
  &__text {
    padding-left: 20px;
    @include font-size(500, 14px, 24px);
    padding-bottom: 10px;
  }
}
