@import "@/theme/index.scss";
.heroAbout {
  padding-top: 33px;
  @include screen-tb {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  &__img {
    filter: brightness(40%);
    @include screen-tb {
      position: relative;
    }
  }
  &__title {
    padding-top: 33px;
    color: $white;
    width: 80%;
    height: auto;
    margin: 0 auto;

    @include screen-tb {
      padding-top: 0;
      width: 65%;
      position: absolute;
      top: 12%;
      left: 20%;
    }
    @include screen-lp {
      top: 20%;
    }
  }
}
