@import '../../theme/index.scss';

.footer {
  background: $orang-light;
}

.footer-content {
  display: flex;
  flex-direction: column;

  @include screen-md {
    flex-direction: initial;
    justify-content: space-between;
    padding: 88px 110px 177px 41px;
  }
}

.footer-autor {
  padding-bottom: 74px;
  @include font-size(700, 16px, 21px);
  color: $white;
  text-align: center;
}

.subscribe {
  margin-left: 10%;

  &__logo {
    color: $white;
    @include font-size (600, 24px, 36px);
    padding-bottom: 20px;
    padding-top: 48px;

    @include screen-md {
      padding-top: 0;
    }
  }

  &__info {
    color: $white;
    @include font-size (600, 16px, 28px);
    width: 263px;
    padding-bottom: 32px;
  }

  &__icon {
    cursor: pointer;
    padding-bottom: 32px;
  }
}

.footer-title {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid $white;
  cursor: pointer;

  @include screen-md {
    border-top: none;
  }

  &__title {
    width: 90%;
    height: 45px;
    @include position-center (flex, column, center, left);
    color: $white;
    @include font-size (700, 18px, 24px);
    margin-left: 10%;

    @include screen-md {
      padding-bottom: 33px;
      margin-left: 0%;
    }

  }

  &__arrow {
    width: 10%;
    margin-right: 20px;

    @include screen-md {
      display: none;
    }
  }
}

.footer-link {
  display: block;
  color: $white;
  @include font-size (400, 16px, 21px);
  padding-bottom: 25px;
  margin-left: 10%;
  @include screen-md {
      margin-left: 0%;
    }
}

.icon-subscribe {
  padding-right: 6px;
}

li {
  list-style: none;
}

.footer-list {

  @include screen-md {
    display: initial !important;
  }
}