@import '@/theme/index.scss';
.fletBox {
  &__text {
    color: $grey;
    @include font-size(600, 12px, 24px);
    padding-bottom: 30px;
    width: 95%;

    @include screen-lp {
      @include font-size(600, 14px, 28px);
    }
  }

  &__button {
    color: $orang;
    @include font-size(400, 18px, 25px);
    padding-right: 16px;
    padding-left: 16px;
  }
}

.flet-icon {
  width: 45px;
  background: $background;
  margin-right: 21px;
  margin-bottom: 23px;
  border-radius: 45%;
  box-shadow: 0px -7px 89px rgba(0, 0, 0, 0.17), 0px -2.55512px 32.4865px rgba(0, 0, 0, 0.117297), 0px -1.24046px 15.7716px rgba(0, 0, 0, 0.0945694), 0px -0.608097px 7.73152px rgba(0, 0, 0, 0.0754306), 0px -0.240442px 3.05705px rgba(0, 0, 0, 0.0527031);

  @include screen-lp {
    margin-right: 19px;
  }
}