@import '@/theme/index.scss';

.titleIsland {
  &__pre-title {
    color: $orang;
    @include font-size(600, 16px, 24px);
    padding-bottom: 10px;
  }

  &__title {
    color: $black-light;

    @include font-size(600, 30px, 48px);
    letter-spacing: 3.5%;
    padding-bottom: 10px;

    @include screen-lp {
      @include font-size(600, 48px, 76px);
    }
  }
}