@import "@/theme/index.scss";
.lessonsBlockB {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lessonsBlock {
  width: 90%;
  background: $white;
  box-shadow: 0px -1.24046px 15.7716px rgba(0, 0, 0, 0.0945694),
    0px -0.608097px 7.73152px rgba(0, 0, 0, 0.0754306),
    0px -0.240442px 3.05705px rgba(0, 0, 0, 0.0527031);
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  @include position-center(flex, column, center, center);
  @include screen-tb {
    width: 49%;
  }
  &__img {
    width: 200px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__title {
    @include font-size(600, 24px, 28px);
    color: $orang-strong;
    padding-bottom: 20px;
  }
  &__text {
    color: $grey-light;
    @include font-size(400, 18px, 170%);
    width: 80%;
    text-align: center;
    padding-bottom: 40px;
  }
  &__arrow {
    padding-left: 10px;
  }
}
